#grad {
	background-image: radial-gradient(#6074C4,#0E1F61);
  }



#contact {

background-image:url("https://scontent.fbbi5-1.fna.fbcdn.net/v/t1.18169-9/14067674_996620017106720_6760076107800436588_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=e3f864&_nc_ohc=n3D2pabnD0UAX-GfkUB&_nc_ht=scontent.fbbi5-1.fna&oh=00_AfD7L42zY6TW9lH1Mx-6-qzsKX62nZDyP-4AEwGfQvUiPg&oe=63D4FA90");
background-repeat: no-repeat;
background-size: cover;

}